.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 104px 0 104px;
    .accommodationTitle {
        height: 51px;
        color: $color-primary;
        font-family: $font-montserrat;
        font-size: 36px;
        font-weight: 500;
        margin: 0;
    }
    .accommodationLocation {
        height: 26px;
        color: $color-primary;
        font-family: $font-montserrat;
        font-size: 18px;
        font-weight: 500;
    }
}

.tags {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0 24px 0;
    .tag {
        width: auto;
        height: 25px;
        border-radius: 10px;
        background-color: $color-primary;
        color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-montserrat;
        font-size: 14px;
        font-weight: 500;
        padding-left: 30px;
        padding-right: 30px;
    }   
}

.owner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ownerNamePicture{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .nameOwner {
        color: #FF6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        display: flex;
        flex-basis: min-content;
        align-self: center;
        line-height: 26px;
    }
    .pictureOwner {
        width: 64px;
        height: 64px;
        border-radius: 35px;
    }
}

.stars {
    display: contents;
    height: 36px;
    margin: 21px 0 31px 0;
    .star{
        margin: 21px 0 31px 0;
        svg {
            height: 36px;
            width: 37px;
        }
    }
}

.accommodationCollapses {
    display: flex;
    flex-direction: row;
    gap: 76px;
    margin: 0 104px;
    .collapseTitle {
        font-size: 18px !important;
    }
}

