@use "../../assets/styles/variables" as *;

.containerLoader {
    position: fixed;       
    top: 0;
    left: 0;
    width: 100vw;          
    height: 100vh;         
    background-color: $color-secondary;
    display: flex;
    justify-content: center;  
    align-items: center;    
    z-index: 9999; 
    
    .loader {
        border: 16px solid $color-secondary; 
        border-top: 16px solid $color-primary;  
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}