.linkReturnHome {
    color: $color-primary;
    font-family: $font-montserrat;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 284px;
    margin: auto;
    padding-bottom: 89px;
}