@use "../../assets/styles/variables" as *;

.linkReturnHome {
    color: $background-color;
    font-family: $font-montserrat;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 284px;
    margin: auto;
    padding-bottom: 89px;
    @media (max-width: 500px) {
        font-size: 14px;
    }
}