@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

////
// VARIABLES
////
$font-montserrat: 'Montserrat';
$color-primary: #FF6060;
$color-secondary: #FFFFFF;
$background-card: #F6F6F6;
$background-color: #000000;