@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}


////
// VARIABLES
////
$font-montserrat: 'Montserrat';
$color-primary: #FF6060;
$color-secondary: #FFFFFF;
$background-card: #F6F6F6;
$background-color: #000000;
$color-star: #E3E3E3;


////
// MIXINS
////
@mixin imageHeaderPage {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
    margin: 0 100px 0 100px;
    filter: brightness(70%);
}

@mixin arrowAccommodationSheet {
    width: 46px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    top: 154px;
    z-index: 1;
}

@mixin errorDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 139px;
}