@use "../../assets/styles/variables" as *;

.accommodationCard {
    width: 340px;
    height: 340px;
    position: relative;
    @media (max-width: 500px) {
        width: 335px;
        height: 255px;
    }
    // Ajout du pseudo-élément pour le dégradé 
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        transition: opacity 0.5s ease-in-out,  background-color 0.5s ease-in-out;
    }
    &:hover::before {
        opacity: 0.3;
        background-color: $color-primary;     
    }
    img {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
        @media (max-width: 500px) {
            width: 335px;
            height: 255px;
        }
    }
    .accommodationTitle {
        width: 300px;
        display: flex;
        color: $color-secondary;
        font-family: $font-montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        position: absolute;
        bottom: 0;
        padding: 0 20px 20px 20px;
    }
}