.homeAboutLink {
    display: flex;
    gap: 56px;
    border: 1px;
    height: 25px;
    a {
        text-decoration: none;
        li {
            color: $color-primary;
            list-style-type: none;
            font-size: 24px;
            height: 34px;
            font-family: $font-montserrat;
            font-weight: 500;
        }
    }
}

.nav-active {
    border-bottom: 1px solid $color-primary;
  }