ul {
    display: flex;
    gap: 56px;
    border: 1px;
    a {
        text-decoration: none;
        li {
            color: #FF6060;
            list-style-type: none;
        }
    }
}

.nav-active {
    border-bottom: 1px solid red;
  }