.collapse {
    max-width: 1023px;
    width: 100%;
    .toggle {
        position: relative;
        height: 52px;
        background-color: $color-primary;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 15px;
        @media (max-width: 768px) {
            height: 32px;
        }
        .collapseTitle {
            color: $color-secondary;
            font-family: $font-montserrat;
            font-size: 24px;
            align-self: center;
            @media (max-width: 768px) {
                font-size: 13px;
            }
        }
    }
}

.chevron img {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    @media (max-width: 768px) {
        top: 4px;
        height: 24px;
    }
}
  
.collapseContent {
    line-height: 1.4;
    font-family: $font-montserrat;
    color: $color-primary;
    background-color: $background-card;
    font-size: 18px;
    padding: 0 20px 0 20px;
    text-align: left;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    @media (max-width: 768px) {
        font-size: 12px;
    }
    &.open {
        max-height: 100%;
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

.collapse.open .chevron img{
    animation: rotateArrowOpen 0.3s forwards;
}
  
@keyframes rotateArrowOpen {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

.collapse .chevron img{
    animation: rotateArrowClose 0.3s forwards;
}
  
@keyframes rotateArrowClose {
    0% {
        transform: rotate(-180deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
