.logoNav {
    width: 1240px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    top: 17px;
    margin-top: 45px;
    margin-bottom: 50px;
}