.image img{
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0.75;
    position: relative;
    margin: 17px 100px 43px 100px;
    filter: brightness(50%);
}

h1 {
    font-family: $font-montserrat;
    position: absolute;
    color: $color-secondary;
    font-size: 48px;
    font-weight: 500;
    top: 292px;
    left: 50%;
    transform: translate(-50%, -50%);
}

