.image img{
    @include imageHeaderPage;
    margin-bottom: 43px;
}

h1 {
    font-family: $font-montserrat;
    position: absolute;
    color: $color-secondary;
    font-size: 48px;
    font-weight: 500;
    top: 292px;
    left: 50%;
    transform: translate(-50%, -50%);
}

